@tailwind base;
@tailwind components;
@tailwind utilities;

/* main{
  background-image: url('../public/hero.jpg');
} */
html{
  scroll-behavior: smooth;
}
footer{
  background-image: url('../public/slide1.jpg');
}
nav>ul>li::after{
  content: '';
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
transform: scaleX(0);
transform-origin: right;
  transition: transform 0.2s ease-in-out;
  @apply bg-rose-400 rounded-full
}
nav>ul>li.active{
  @apply text-rose-500 font-semibold
}
nav>ul>li:hover::after
{
  transform: scaleX(1);
transform-origin: left;


}
form  .input-text{
  @apply text-slate-500 font-medium
}
body{
  @apply font-sourceSansPro transition-all duration-300 scroll-smooth
}

input[type="text"]:focus ~ .input-text,
input[type="email"]:focus ~ .input-text,
input[type="number"]:focus ~ .input-text,
textarea[type="text"]:focus ~ .input-text,
input:valid ~ .input-text,textarea:valid ~ .input-text
{
  @apply text-blue-600 -translate-y-9 scale-[0.8] -translate-x-2 bg-white 
}