@tailwind base;
@tailwind components;
@tailwind utilities;

/* main{
  background-image: url('../public/hero.jpg');
} */

footer{
  background-image: url('../public/slide1.jpg');
}
nav>ul>li::after{
  content: '';
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
transform: scaleX(0);
transform-origin: right;
  transition: transform 0.2s ease-in-out;
  @apply bg-rose-500 rounded-full
}
nav>ul>li:hover::after{
  transform: scaleX(1);
transform-origin: left;


}
form label{
  @apply text-slate-600 font-medium
}
body{
  @apply font-sourceSansPro transition-all duration-300 scroll-smooth
}