@tailwind base;
@tailwind components;
@tailwind utilities;

/* main{
  background-image: url('../public/hero.jpg');
} */
html{
  scroll-behavior: smooth;
}
footer{
  background-image: url('../public/banner1.jpg');
}
nav>ul>li::after{
  content: '';
  position:absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 2px;
transform: scaleX(0);
transform-origin: right;
/* color: #f3f3f3ef; */
  transition: transform 0.2s ease-in-out;
  @apply bg-rose-400 rounded-full
}
nav>ul>li.active{
  @apply text-rose-500 font-semibold
}
nav>ul>li:hover::after
{
  transform: scaleX(1);
transform-origin: left;


}
form  .input-text{
  @apply text-slate-500 font-medium
}
body{
  @apply font-sourceSansPro transition-all duration-300 scroll-smooth
}

input[type="text"]:focus ~ .input-text,
input[type="email"]:focus ~ .input-text,
input[type="number"]:focus ~ .input-text,
textarea[type="text"]:focus ~ .input-text,
input:valid ~ .input-text,textarea:valid ~ .input-text
{
  @apply text-blue-600 -translate-y-9 scale-[0.8] -translate-x-2 bg-white 
}
button.active{
  @apply border-b-2 border-teal-400
}

/* animation delay */
.anim-delay-75{
  animation-delay:0.075s;
}
.anim-delay-100{
  animation-delay:100ms;
} .anim-delay-150{
  animation-delay:150ms;
} .anim-delay-200{
  animation-delay:200ms;
}
.anim-delay-300{animation-delay:0.3s}
.anim-delay-400{
  animation-delay:0.4s;
} .anim-delay-500{
  animation-delay:0.5s;
}
.anim-delay-600{
  animation-delay:0.6s;
}.anim-delay-800{
  animation-delay:0.8s;
}
.anim-delay-900{
  animation-delay:0.9s;
}
.anim-delay-700{
  animation-delay:0.7s;
} .anim-delay-1000{
  animation-delay:1s;
}
.anim-delay-1500{
  animation-delay:1.5s;
}
